{% if site.data.cv.experiences %}
<section class="section experiences-section">
<h2 class="section-title">{{site.data.cv.experiences.title}}</h2>

{% assign relevant_experiences = site.data.cv.experiences.experiences | where: "relevant", "true" %}
{% for experience in relevant_experiences %}
<div class="item">

    <div class="company">{{ experience.company }}, {{ experience.location }}</div>

    <div class="roles">
    {% for role in experience.roles %}
    <div class="role">
        <div class="role-title">{{ role.title }}</div>
        <div class="role-time">{{ role.time }}</div>
        <div class="role-description">{{ role.description }}</div>
    </div>
    {% endfor %}
    </div><!--//details-->

</div><!--//item-->
{% endfor %}


{% assign irrelevant_experiences = site.data.cv.experiences.experiences | where: "relevant", "false" %}
<div class="item">

    <div class="company">Previous Roles</div>

    <div class="roles">
        {% for experience in irrelevant_experiences %}
            {% for role in experience.roles %}
                <div class="role">
                    <div class="role-title">{{ role.title }}</div>
                    <div class="role-time">{{ role.time }}</div>
                    <div class="role-company">{{ experience.company }}, {{ experience.location }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div><!--//item-->




</section><!--//section-->
{% endif %}