{% if site.data.cv.skills %}
<section class="skills-section section">

<h2 class="section-title">{{site.data.cv.skills.title}}</h2>

<div class="skillset">

    {% for skill in site.data.cv.skills.skills %}
    <div class="item">

    <div class="level-title">{{ skill.name }}</div>

    <div class="level-bar">
        <div class="level-bar-inner" style="width: {{ skill.level }};"></div>
    </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

</div><!--//skillset-->

</section><!--//skills-section-->
{% endif %}
