
<nav class="navbar navbar-expand-md navbar-top-fixed">
	<div class = "container">
		<a class = "navbar-brand" href="{{ site.url }}"><img class="logo-quants" src="{{ site.baseurl }}/assets/images/logo.png" alt="quants.ch" /></a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		<div class="collapse navbar-collapse" id="navbarNav">
  			<ul class = "navbar-nav">
  				<li><a href="{{ site.url }}">CV</a></li>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
			</ul>
		</div>
	</div>
</nav>