/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {

    body{
        padding: 0;
    }

    .wrapper {
        display: block;
        margin-top: 0;
    }

    .cv-sidebar-wrapper {
        position: static;
        width: inherit;
    }

    .cv-main-wrapper {
        padding: 30px;
        .time {
            position: static;
            display: block;
            margin-top: 5px;
        }
    }

    .cv-main-wrapper {
        .roles {
            .role {
                .role-time {
                    position: static;
                    clear: both;
                }
            }
        }
    }

}

@media print {

    html, body {
        padding: 0;
        height: 100%;
    }

    navbar, footer {
        display: none;
    }

    .wrapper {
        margin: 0;
        max-width: 100%;
        min-height: 100%;
    }

}

/* Small devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991px) {
    
}
*/

/* Medium devices (desktops, 992px and up) 
@media (min-width: 992px) {
   
}
*/


/* Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
/*


/* Ex-Large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {

}
*/