<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.address %}
    <li><i class="fas fa-map-marker fa-fw"></i>
      <a href="{{ sidebar.address.link }}">{{ sidebar.address.place }}</a>
    </li>
    {% endif %}

    {% if sidebar.birth %}
    <li><i class="fas fa-star fa-fw"></i>
      <a href="{{ sidebar.birth.link }}">{{ sidebar.birth.year }}</a>
    </li>
    {% endif %}

    {% if sidebar.email %}
    <li><i class="fas fa-envelope fa-fw"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li><i class="fas fa-phone"></i>
      <a href="tel:{{ sidebar.phone }}">{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li><i class="fas fa-globe-americas fa-fw"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li><i class="fab fa-linkedin fa-fw"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">{{ sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li><i class="fab fa-github fa-fw"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">{{ sidebar.github }}</a>
    </li>
    {% endif %}


  </ul>
</div>